header.header
    nav.nav
        a(href="/index.html")
            span.mainName nathan essex
            span.mainNameDivider &nbsp;|&nbsp;
            span projects
        a(href="/blog.html") blog
        a(href="/about.html") about